* {
    margin: 0 auto; 
    box-sizing: border-box;
}

#gradientbar {
    background: linear-gradient(#4F5D75, #FFFFFF);
    width: 100vw;
    height: 100px;
    display: flex;
}

.recipebox {
    filter: invert(0.35);
    padding: 10px 30px;     
    float: right;
    width: 7%;
}

.logo {
    width: 50%;
    display: block;
    margin-left: calc(30% - 60px);
}

#mySearch {
    display: inline;
    width: 25%;
    padding: 7px 10px;
    margin-left: calc(42% - 60px);
    font-family: "Josefin Sans", Arial, sans-serif;
}

/* Slideshow container */
.carousel-container {
    max-width: 300px;
    height: 20%;
    position: relative;
    margin: auto;
    padding-top: 200px;   
    padding-bottom: 50px; 
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.recipe-list {
    list-style: none;
    display: flex;
    max-width: 100vw;
    padding: 2px 31px;
    justify-content: space-evenly;
}

.recipes img {
    width: 25%;
    display: block;
    cursor: pointer;
    transition: transform .5s ;
}

.recipes img:hover {
    transform: scale(1.1);
}


h2 {
    text-align: center;
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
    cursor: pointer;
}


.footer {
    background: linear-gradient(#FFFFFF, #4F5D75);
    color: #2D3142;
    font-family: "Yeseva One", Times, serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
}

.footer a {
    text-decoration: none;
    color: #2D3142;
    font-family: "Yeseva One", Times, serif;
}