* {
    margin: 0 auto; 
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#gradientbar {
    background: linear-gradient(#4F5D75, #FFFFFF);
    width: 100vw;
    height: 100px;
    display: flex;
}

.recipebox {
    filter: invert(0.35);
    padding: 10px 30px;     
    float: right;
    width: 7%;
}

.logo {
    width: 50%;
    display: block;
    margin-left: calc(30% - 60px);
}

#mySearch {
    display: inline;
    width: 25%;
    padding: 7px 10px;
    margin-left: calc(42% - 60px);
    font-family: "Josefin Sans", Arial, sans-serif;
    border-color: #4F5D75;
}

#edamam-badge {
    text-align: center;
}

/* Slideshow container */
.carousel-container {
    max-width: 300px;
    height: 20%;
    position: relative;
    margin: auto;
    padding-top: 250px;   
    padding-bottom: 50px; 
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.recipe-list {
    list-style: none;
    display: flex;
    max-width: 100vw;
    padding: 2px 31px;
    justify-content: space-evenly;
}

.recipes img {
    max-width: 40%;
    display: block;
    cursor: pointer;
    transition: transform .5s ;
}

.recipes img:hover {
    transform: scale(1.1);
}


.category {
    text-align: center;
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
    cursor: pointer;
}

.recipe-search-results {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: calc(15% - 30px);
    margin-bottom: calc(12% - 20px);
    
}

.myrecipecard {
    background-color: rgba(191, 192, 192, 0.5);
    border-radius: 15px;
    border-color: #EF8354;
    border-style: groove;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.recipeimg {
    max-width: 80%;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #2D3142;
    margin-top: calc(25% - 20px);
}

.recipetitle {
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
    font-size: 1.25rem;
    text-align: center;
    padding: 10px;
    grid-column: 2/3;
}

.recipesource {
    font-family: "Josefin Sans", Arial, sans-serif;
    color: #2D3142;
    font-size: 1.05rem;
    text-align: center;
    grid-column: 2/3;
}

.recipe-category-results {
    grid-column: 1/4;
    margin-left: calc(0.5% - 5px);
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
    font-size: 2rem;
    padding: 20px;
}

.attributions {
    max-width: 50%;
    margin-top: calc(12% - 40px);
    background-color: rgba(239, 131, 84, 0.5);
    padding: 25px;
    border-radius: 25px;
    margin-bottom: calc(6.9% - 10px);

}

.attributionpage {
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
    font-size: 3rem;
    padding-bottom: 10px;
}

.attribution {
    font-family: "Josefin Sans", Arial, sans-serif;
    color: #2D3142;
    font-size: 2rem;
    line-height: 2;
}

.attribution > a {
    color: #2D3142;
}

.footer {
    background: linear-gradient(#FFFFFF, #4F5D75);
    color: #2D3142;
    font-family: "Yeseva One", Times, serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
}

.footer a {
    text-decoration: none;
    color: #2D3142;
    font-family: "Yeseva One", Times, serif;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .recipebox {
        width: 20%;
    }

    .logo {
        width: 90%;
        margin-left: calc(10% - 40px);
    }

    #mySearch {
        display: inline;
        width: 50%;
        padding: 7px 10px;
        margin-left: calc(32% - 60px);
    }
        
    .carousel-container {
        padding-top: 250px;    
      }

    .recipes img {
        max-width: 40%;
    }

    h2 {
        padding-bottom: 20px;
    }

    .recipecard {
        max-width: 92%;
        margin-left: calc(5%); 
        margin-top: calc(40% - 40px);
        
    }
    
    .recipe-card {
        margin-top: calc(20% - 20px);
        margin-left: calc(20% - 15px);
    }
    
    .recipe-card-title {
        font-size: 2.25rem;
        margin-top: calc(17% - 5px);
        margin-right: calc(15% - 10px);
    }
    
    .recipe-box-save {
        max-width: 50%;
        margin-left: calc(20% - 10px);
    }
    
    .recipe-box-remove {
        max-width: 50%;
        margin-top: calc(80% - 10px);
        margin-left: calc(20% - 10px);
    }
    
    .ingredients {
        font-size: 1.5rem;
        margin-left: calc(20% - 20px);
        margin-top: calc(-20%);
    }
    
    .ingredientlist {
        font-size: 1.25rem;
        margin-top: calc(5% - 50px);
        margin-left: calc(7% - 20px);
    }
    
    h5 {
        font-size: 1.35rem;
    }
    
    .directions {
        font-size: 1.5rem;
        margin-left: calc(15% - 20px);
    }
    
    .direction {
        margin-top: calc(10% - 5px);
        font-size: 1.75rem;
        margin-left: calc(10% - 17px);
    }
    
    .recipebox-results {
        font-size: 1.5rem;
        margin-left: calc(11% - 20px);
        margin-top: calc(35% - 10px);
        margin-bottom: calc(-10% - 50px);
    }

    .recipe-category-results {
        font-size: 1.5rem;
        padding: 20px;
        margin-top: calc(10% - 20px);
        
    }
    
    .savedrecipes {
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: calc(20% - 50px);
        margin-bottom: calc(5% - 20px);
    }
    
    .savedrecipecard, .myrecipecard {
        margin: 20px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .recipeimg {
        width: 100%;
    }

    .recipetitle, .recipecategory {
        font-size: 1.15rem;;
    }
    
    .rating-box  {
        grid-column: 1/3;
    }
    
    .ratingsheader {
        padding: 10px;
    }
    
    .stars {
        margin-left: 13px;
    }

    .recipe-search-results {
        max-width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* margin-top: calc(20% - 30px);
        margin-bottom: calc(5% - 20px); */
        
    }

    .attributions {
        max-width: 75%;  
        margin-top: calc(15% - 10px); 
        margin-bottom: calc(12% - 10px); 
    }
    
    .attributionpage {
        font-size: 2.25rem;
    }
    
    .attribution {
        font-size: 1.75rem;
        line-height: 2;
    }

    .footer {
        font-size: 1rem;
        display: block;
        text-align: center;
        height: 100px;
    }

}

@media screen and (max-width: 480px) {
    .recipebox {
        width: 30%;
    }

    .logo {
        width: 90%;
        margin-left: calc(20% - 60px);
    }

    #mySearch {
        display: inline;
        width: 50%;
        padding: 7px 10px;
        margin-left: calc(42% - 60px);
    }
        
    .carousel-container {
        padding-top: 160px;    
      }

      .recipe-list {
        flex-wrap: wrap;
    }

    .recipes img {
        max-width: 30%;
    }

    h2 {
        padding-bottom: 10px;
    }

    .recipecard {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: calc(5%); 
        margin-top: calc(40% - 40px);
        
    }
    
    .recipe-card {
        width: 100%;
        margin-top: calc(30% - 20px);
        margin-left: calc(20% - 15px);
    }
    
    .recipe-card-title {
        font-size: 1.25rem;
        margin-top: calc(17% - 5px);
        margin-right: calc(15% - 10px);
    }
    
    .recipe-box-save {
        max-width: 80%;
        max-height: 40px;
        font-size: .85rem;
        margin-top: calc(70% - 10px);
    }
    
    .recipe-box-remove {
        max-width: 80%;
        max-height: 40px;
        font-size: .85rem;
        padding: 5px;
        margin-top: calc(110% - 10px);
    }
    
    .ingredients {
        font-size: 1.15rem;
        margin-left: calc(20% - 20px);
        margin-top: calc(-0%);
    }
    
    .ingredientlist {
        font-size: .9rem;
        margin-top: calc(27% - 50px);
        margin-left: calc(7% - 20px);
    }
    
    h5 {
        font-size: 1rem;
    }
    
    .directions {
        font-size: 1.15rem;
        margin-left: calc(7% - 20px);
    }
    
    .direction {
        margin-top: calc(20% - 5px);
        font-size: 1.2rem;
        margin-left: calc(10% - 17px);
    }

    .recipebox-results {
        font-size: 1.5rem;
        margin-left: calc(25% - 20px);
        margin-top: calc(25% - 20px);
    }

    .savedrecipes {
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: calc(30% - 30px);
        margin-bottom: calc(5% - 20px);
    }
    
    .savedrecipecard {
        margin: 5px 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .recipeimg {
        width: 100%;
    }

    .recipetitle {
        font-size: 1rem;
    }

    .recipecategory {
        font-size: 1rem;
    }
    
    .rating-box  {
        grid-column: 1/3;
    }
    
    .ratingsheader {
        padding: 10px;
    }
    
    .stars {
        margin-left: 13px;
    }

    .recipe-category-results {
        font-size: 1.15rem;
        padding: 20px;
        margin-left: calc(11% - 20px);
        margin-top: calc(35% - 20px);
        margin-bottom: calc(-10% - 50px);
    }

    .myrecipecard {
        margin: 20px 10px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .recipe-search-results {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: calc(25% - 30px);
        margin-bottom: calc(5% - 20px);
        
    }

    .attributions {
        max-width: 90%;  
        margin-top: calc(15% - 10px); 
        margin-bottom: calc(30% - 10px); 
    }
    
    .attributionpage {
        font-size: 1.5rem;
    }
    
    .attribution {
        font-size: 1rem;
        line-height: 2;
    }

    .footer {
        font-size: .8rem;
        display: block;
        text-align: center;
        height: 100px;
    }
}

