* {
    margin: 0 auto; 
    box-sizing: border-box;
}

#gradientbar {
    background: linear-gradient(#4F5D75, #FFFFFF);
    width: 100vw;
    height: 100px;
    display: flex;
}

.recipebox {
    filter: invert(0.35);
    padding: 10px 30px;     
    float: right;
    width: 7%;
}

.logo {
    width: 50%;
    display: block;
    margin-left: calc(30% - 60px);
}

#mySearch {
    display: inline;
    width: 25%;
    padding: 7px 10px;
    margin-left: calc(42% - 60px);
    font-family: "Josefin Sans", Arial, sans-serif;
    border-color: #4F5D75;
}

/* Slideshow container */
.carousel-container {
    max-width: 300px;
    height: 20%;
    position: relative;
    margin: auto;
    padding-top: 250px;   
    padding-bottom: 50px; 
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.recipe-list {
    list-style: none;
    display: flex;
    max-width: 100vw;
    padding: 2px 31px;
    justify-content: space-evenly;
}

.recipes img {
    max-width: 40%;
    display: block;
    cursor: pointer;
    transition: transform .5s ;
}

.recipes img:hover {
    transform: scale(1.1);
}


.category {
    text-align: center;
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
    cursor: pointer;
}

.recipecard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 150px;
    max-width: 50%;
    margin-left: calc(30% - 50px);
    margin-top: calc(15% - 40px);
    background-color: rgba(191, 192, 192, 0.5);
    border-radius: 15px;
    border-color: #EF8354;
    border-style: ridge;
    
}

.recipe-card {
    width: 60%;  
    margin-top: calc(10% - 20px);
    margin-left: calc(35% - 15px);
    box-shadow: 2px 2px 2px #2D3142;
    padding: 0;
    border-radius: 5px;
}

.recipe-card-title {
    display: inline;
    font-size: 3rem;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin-top: calc(7% - 5px);
    margin-right: calc(7% - 10px);
}

.recipe-box {
    display: inline;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 15px 15px;
    max-height: 70px;
    margin-top: calc(60% - 10px);
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 1.5rem;
    border-color: #EF8354;
    border-radius: 15px;
    margin-left: calc(25% - 10px);
    cursor: pointer;

}
.recipe-card-title, .ingredients, .directions {
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
}

.ingredients {
    font-size: 1.75rem;
    grid-column: 1/2;
    grid-row: 2/3;
}

.ingredientlist {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 1.25rem;
    margin-top: calc(5% - 5px);
    margin-left: calc(15% - 10px);
}

.ingredient {
    line-height: 1.5;
}

h5 {
    font-size: 1.35rem;
}

.directions {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 1.75rem;
    padding: 20px;
}

.direction {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: calc(10% - 5px);
    font-size: 2rem;
    cursor: pointer;
    margin-left: calc(18% - 17px);
}

.ingredient, .direction {
    font-family: "Josefin Sans", Arial, sans-serif;
    color: #2D3142;
}

.recipe-search-results {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: calc(15% - 30px);
    margin-bottom: calc(12% - 20px);
    
}

.myrecipecard {
    background-color: rgba(191, 192, 192, 0.5);
    border-radius: 15px;
    border-color: #EF8354;
    border-style: groove;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.recipeimg {
    width: 50%;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #2D3142;
}

.recipetitle {
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

.recipecategory {
    font-family: "Josefin Sans", Arial, sans-serif;
    color: #2D3142;
    font-size: 1.25rem;
    text-align: center;
}

.recipe-category-results {
    font-family: "Yeseva One", Times, serif;
    color: #2D3142;
    font-size: 1.5rem;
    padding: 20px;
    margin-left: calc(11% - 20px);
    margin-top: calc(12% - 20px);
    margin-bottom: calc(-10% - 50px);
}


.footer {
    background: linear-gradient(#FFFFFF, #4F5D75);
    color: #2D3142;
    font-family: "Yeseva One", Times, serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
}

.footer a {
    text-decoration: none;
    color: #2D3142;
    font-family: "Yeseva One", Times, serif;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .recipebox {
        width: 20%;
    }

    .logo {
        width: 90%;
        margin-left: calc(10% - 40px);
    }

    #mySearch {
        display: inline;
        width: 50%;
        padding: 7px 10px;
        margin-left: calc(32% - 60px);
    }
        
    .carousel-container {
        padding-top: 250px;    
      }

    .recipes img {
        max-width: 40%;
    }

    h2 {
        padding-bottom: 20px;
    }

    .recipecard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 150px;
        max-width: 50%;
        margin-left: calc(30% - 50px);
        margin-top: calc(15% - 40px);
        background-color: rgba(191, 192, 192, 0.5);
        border-radius: 15px;
        border-color: #EF8354;
        border-style: ridge;
        
    }
    
    .recipe-card {
        width: 60%;  
        margin-top: calc(10% - 20px);
        margin-left: calc(35% - 15px);
        box-shadow: 2px 2px 2px #2D3142;
        padding: 0;
        border-radius: 5px;
    }
    
    .recipe-card-title {
        display: inline;
        font-size: 3rem;
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        margin-top: calc(7% - 5px);
        margin-right: calc(7% - 10px);
    }
    
    .recipe-box {
        display: inline;
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 15px 15px;
        max-height: 70px;
        margin-top: calc(60% - 10px);
        font-family: "Josefin Sans", Arial, sans-serif;
        font-size: 1.5rem;
        border-color: #EF8354;
        border-radius: 15px;
        margin-left: calc(25% - 10px);
        cursor: pointer;
    
    }
    .recipe-card-title, .ingredients, .directions {
        font-family: "Yeseva One", Times, serif;
        color: #2D3142;
    }
    
    .ingredients {
        font-size: 1.75rem;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .ingredientlist {
        grid-column: 1/3;
        grid-row: 2/3;
        font-size: 1.25rem;
        margin-top: calc(5% - 5px);
        margin-left: calc(15% - 10px);
    }
    
    .ingredient {
        line-height: 1.5;
    }
    
    h5 {
        font-size: 1.35rem;
    }
    
    .directions {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.75rem;
        padding: 20px;
    }
    
    .direction {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: calc(10% - 5px);
        font-size: 2rem;
        cursor: pointer;
        margin-left: calc(18% - 17px);
    }
    
    .ingredient, .direction {
        font-family: "Josefin Sans", Arial, sans-serif;
        color: #2D3142;
    }


    .footer {
        font-size: 1rem;
        display: block;
        text-align: center;
        height: 100px;
    }

}

@media screen and (max-width: 480px) {
    .recipebox {
        width: 30%;
    }

    .logo {
        width: 90%;
        margin-left: calc(20% - 60px);
    }

    #mySearch {
        display: inline;
        width: 50%;
        padding: 7px 10px;
        margin-left: calc(42% - 60px);
    }
        
    .carousel-container {
        padding-top: 160px;    
      }

      .recipe-list {
        flex-wrap: wrap;
    }

    .recipes img {
        max-width: 30%;
    }

    h2 {
        padding-bottom: 10px;
    }

    .recipecard {
        display: flex;
        max-width: 100%;
        margin-left: calc(5% - 5px);
        margin-top: calc(25% - 5px);
    }
    
    .recipe-card {
        max-width: 50%;  
        max-height: 200px;
        margin-top: calc(10% - 20px);
        margin-left: calc(5% - 5px);
    }
    
    .recipe-card-title {
        display: block;
        font-size: 1.75rem;
        text-align: center;
        margin-top: calc(7% - 5px);
        margin-left: calc(7% - 10px);
    }
    
    .recipe-box {
        display: block;
        padding: 15px 15px;
        max-height: 100px;
        margin-top: calc(45% - 10px);
        font-size: 1.15rem;
        margin-left: 0;
    
    }
    
    .ingredients {
        font-size: 1.45rem;
    }
    
    .ingredientlist {
        grid-column: 1/3;
        grid-row: 2/3;
        font-size: 1.25rem;
        margin-top: calc(5% - 5px);
        margin-left: calc(15% - 10px);
    }
    
    .ingredient {
        line-height: 1.5;
    }
    
    h5 {
        font-size: 1.35rem;
    }
    
    .directions {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.75rem;
        padding: 20px;
    }
    
    .direction {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: calc(10% - 5px);
        font-size: 2rem;
        cursor: pointer;
        margin-left: calc(18% - 17px);
    }
    
    .ingredient, .direction {
        font-family: "Josefin Sans", Arial, sans-serif;
        color: #2D3142;
    }

    .footer {
        font-size: .8rem;
        display: block;
        text-align: center;
        height: 100px;
    }
}

